/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // its 10px
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font: 2rem 'Noto Serif', Calibri, Helvetica, Arial, sans-serif;
  line-height: 3rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font: 4rem "Open Sans", Geneva, Tahoma, Verdana, sans-serif;
  margin-bottom: 2.6rem;
}

h1 {
  line-height: 6rem;
  margin-bottom: 2.2rem;
}

h2 {
  border-top: 2px solid #eee;
  font-size: 3rem;
  line-height: 3rem;
  padding-top: 2.4rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

p {
  margin: 0 0 3rem 0;
  padding-top: 0.2rem;
}

a         { color: #a00; text-decoration: none; }
a:hover   { color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 2rem;
  text-align: justify;
  width: 70rem;
  margin: 3em auto 2em;

  > header {
    position: relative;

    > .title {
      font-size: 2rem;
      margin-bottom: 2.2rem;
    }

    a {
      font-weight: bold;
      text-decoration: none;

      &.extra:hover {
        color: #000;
      }
    }
  }


  > footer {
    font-size: 1.4rem;
    color: #999;
    border-top: 2px solid #eee;
    margin-top: 6rem;
    overflow: hidden;

    > .contact {
      float: left;
      margin-right: 3em;

      > a {
        color: #8085C1;
      }
    }

    .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

    .rss img {
      border: 0;
    }
  }
}

time {
  color: #aaa;
}

nav {
  font-size: 1.4rem;
  color: #999;

  li {
    display: inline-block;
    margin-right: 3rem;

    a {
      color: #999;

      &:hover {
        color: #000;
      }
    }
  }
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  > header {
    > h2 {
      line-height: 6rem;
    }

    > time {
      float: right;
      margin-top: -3rem;
    }
  }

  /* standard */
  pre {
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #eef;
    margin: 0 0 2.6rem 0;
    overflow-x: scroll;
    padding: 0 .6rem;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  pre code {
    border: none;
    line-height: 3rem;
    padding: 0;
  }

  /* terminal */
  .terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;

    code {
      background-color: #333;
    }
  }
}
